@charset "utf-8";
header {
  position: relative;
}
.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 7% 0% 3%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.header_logo {
  width: 226px;
}

.pc_nav ul {
  display: flex;
  gap: 54px;
}
.pc_nav ul li {
  width: 106px;
  text-align: center;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}
.word {
  margin-top: 100px;
  font-size: 30px;
}
.word2 {
  margin-top: 45px;
  font-size: 82px;
  line-height: 1.2;
}
.word3 {
  margin-top: 17px;
  font-size: 23px;
  line-height: 1.65;
}

.about {
  /* display: flex;
  justify-content: space-between; */
  align-items: center;
}
.photo {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  width: 50%;
  height: 560px;
  border-bottom-right-radius: 82px;
}

h2 {
  font-size: 80px;
}
.text {
  margin-top: 47px;
  font-size: 44px;
  line-height: 1.4;
}
.text1 {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.6;
}
