@charset "utf-8";
header {
  position: relative;
}
.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 7% 0% 3%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.header_logo {
  width: 226px;
}

.pc_nav ul {
  display: flex;
  gap: 54px;
}
.pc_nav ul li {
  width: 106px;
  text-align: center;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
}

.page_top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 125px;
}

.word {
  text-align: center;
}

.word p:nth-child(1) {
  margin-top: 100px;
  font-size: 30px;
}
.word p:nth-child(2) {
  margin-top: 45px;
  font-size: 82px;
  line-height: 1.2;
  letter-spacing: 0.1em;
}
.word p:nth-child(3) {
  margin-top: 22px;
  margin-bottom: 90px;
  font-size: 23px;
  line-height: 1.65;
  letter-spacing: 0.1em;
}

.about_us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 42px;
  padding: 10px;
}
.photo {
  display: flex;
  justify-content: space-between;
  width: 50%;
  border-bottom-right-radius: 82px;
  overflow: hidden;
}
.about_text {
  text-align: left;
  width: 41%;
}
.about_us_title {
  width: 272px;
  /* margin-top: 150px; */
}
.text {
  margin-top: 47px;
  font-size: 44px;
  line-height: 1.4;
}
.text1 {
  margin-top: 23px;
  font-size: 16px;
  line-height: 1.6;
}
.menu {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 38px;
  padding: 10px;
  margin-top: 95px;
}

.menu_title {
  margin: 0 auto;
  width: 151px;
}
.menu_text {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin: 40px 0;
}
.menu_text li {
  width: 30%;
  border-top-right-radius: 42px;
  overflow: hidden;
}
.red {
  font-size: 38px;
  color: #d30202;
  padding-left: 12px;
  line-height: 0.4;
}
.text2 {
  font-size: 17px;
  padding-top: 25px;
  line-height: 1.5;
}
.gallery {
  max-width: 1920px;
  margin: 0 auto;
}
.gallery_title {
  margin: 0 auto;
  width: 245px;
  padding-bottom: 17px;
}

.photogallery {
  display: flex;
  justify-content: space-between;
  border-top-right-radius: none;
}

.event {
  padding: 10px;
}
.event_title {
  margin: 0 auto;
  width: 174px;
  margin-top: 59px;
}
.event_border {
  margin: 0 auto;
  border: 3.5px solid#4f260b;
  background-color: #ffffff;
  max-width: 1000px;
  padding: 36px;
  margin-top: 35px;
  margin-bottom: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.event_border div {
  display: inline-block;
}
.event_date {
  display: flex;
  font-size: 23px;
  gap: 45px;
}
.event_date li {
  line-height: 1.9;
}

.event_memo {
  text-decoration: underline;
  text-decoration-color: #4f260b;
}
.access_title {
  margin: 0 auto;
  width: 214px;
  padding-bottom: 38px;
}
.access_map iframe {
  display: block;
  width: 100%;
  height: 470px;
}

footer {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}
.access_memo {
  display: flex;
  gap: 63px;
  align-items: flex-start;
  padding-top: 82px;
  max-width: 1000px;
  margin: 0 auto;
}
.cafe_logo {
  width: 228px;
}
.access_text li {
  font-size: 20px;
  color: #000000;
  line-height: 2;
}
.fin {
  padding: 73px 0px 75px 0px;
  font-size: 16px;
  color: #000000;
  margin: 0 auto;
  text-align: center;
}
