@charset "utf-8";

.background {
  max-width: 960px;
  background-color: #eeeeee;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header h1 {
  color: darkgreen;
  display: flex;
  justify-content: space-between;
}

.photobox1 h2 {
  color: darkgreen;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-left: 10px solid darkgreen;
  padding: 10px 0px 0px 5px;
  width: 30%;
}

.photobox2 h2 {
  color: darkgreen;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-left: 10px solid darkgreen;
  padding: 10px 0px 0px 5px;
}

.photobox3 h2 {
  color: darkgreen;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-left: 10px solid darkgreen;
  padding: 10px 0px 0px 5px;
}
