@charset "utf-8";

.background {
  max-width: 960px;
  background-color: #eeeeee;
  margin: 0 auto;
  /* display: flex;
  justify-content: space-between; */
}

.h1 {
  color: darkgreen;
  text-align: center;
  /* display: flex;
  justify-content: space-between; */
}

.servise-wrap {
  display: flex;
  justify-content: space-between;
  margin: 70px auto;
}
.photobox h2 {
  color: darkgreen;
  border-left: 10px solid darkgreen;
  padding: 10px 0px 10px 5px;
  margin: 8px;
}

.photobox {
  background-color: white;
  width: 31%;
  font-weight: bold;
}
.word {
  padding: 5px 10px 10px 10px;
}

@media screen and (max-width: 400px) {
  .background {
    flex-direction: column;
    background-color: #eeeeee;
    margin: 0 auto;
    width: 100%;
  }
}
.h1 {
  color: darkgreen;
  text-align: center;
}

.servise-wrap {
  flex-direction: column;
  margin: 50px auto;
}
