@charset "utf-8";

.background {
  max-width: 960px;
  background-color: #eeeeee;
  margin: 0 auto;
}

h1 {
  color: darkgreen;
  text-align: center;
  margin-top: 50px;
}

.servise-wrap {
  display: flex;
  justify-content: space-between;
  margin: 70px 0;
  padding: 0px 10px;
}
.photobox h2 {
  color: darkgreen;
  border-left: 10px solid darkgreen;
  padding: 10px 0px 10px 5px;
  margin: 8px;
}

.photobox {
  background-color: white;
  width: 31%;
  font-weight: bold;
}
.word {
  padding: 5px 10px 10px 10px;
}

@media screen and (max-width: 400px) {
  .servise-wrap {
    flex-direction: column;
    margin: 50px 0;
    gap: 30px;
  }
  img {
    width: 100%;
  }
  .photobox h2 {
    margin: 4px;
    padding: 4px;
  }
  .photobox {
    width: 95%;
    margin: 0 auto;
  }
  .word {
    padding: 10px 6px 10px 6px;
    margin: 4px;
  }
}
